<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Banking Managment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResisterUser</display-name>
    <servlet-name>ResisterUser</servlet-name>
    <servlet-class>com.resister.bank.ResisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResisterUser</servlet-name>
    <url-pattern>/ResisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authentication</display-name>
    <servlet-name>authentication</servlet-name>
    <servlet-class>com.resister.bank.authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentication</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depositeMoney</display-name>
    <servlet-name>depositeMoney</servlet-name>
    <servlet-class>com.resister.bank.depositeMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositeMoney</servlet-name>
    <url-pattern>/depositeMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>balanceUser</display-name>
    <servlet-name>balanceUser</servlet-name>
    <servlet-class>com.resister.bank.balanceUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>balanceUser</servlet-name>
    <url-pattern>/balanceUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawMoney</display-name>
    <servlet-name>withdrawMoney</servlet-name>
    <servlet-class>com.resister.bank.withdrawMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawMoney</servlet-name>
    <url-pattern>/withdrawMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transfer</display-name>
    <servlet-name>transfer</servlet-name>
    <servlet-class>com.resister.bank.transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transfer</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTransfer</display-name>
    <servlet-name>NewTransfer</servlet-name>
    <servlet-class>com.resister.bank.NewTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTransfer</servlet-name>
    <url-pattern>/NewTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>com.resister.bank.History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>historySvlt</display-name>
    <servlet-name>historySvlt</servlet-name>
    <servlet-class>com.resister.bank.historySvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>historySvlt</servlet-name>
    <url-pattern>/historySvlt</url-pattern>
  </servlet-mapping>
</web-app>